---
interface Props {
	label: string;
	value?: string;
	type?: "email" | "text";
}
const { label, value, type = "text" } = Astro.props;
---

<div class="flex flex-col">
	<div class="text-lg underline font-semibold">{label}:</div>
	<div class="text-slate-700 flex-1 flex items-center justify-center">
		{
			value ? (
				type === "email" ? (
					<a class="underline hover:text-black" href={`mailto:${value}`}>
						{value}
					</a>
				) : (
					<div>{value}</div>
				)
			) : null
		}
		<slot />
	</div>
</div>
