---
import Headline from '../components/Headline/Headline.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Eli Personal Trainer: Privacy Policy">
	<div class="container w-[900px] p-20 mx-auto">
		<Headline variant="xxl">Privacy Policy</Headline>
		<p>
			I understand the importance of your privacy. This policy explains how I collect, use, and protect your
			personal information when you interact with me.
		</p>

		<Headline variant="xl">Information We Collect</Headline>
		<p>When you use my services, I may collect the following information from you:</p>
		<ul>
			<li>Name</li>
			<li>Email Address</li>
			<li>Fitness Experience</li>
			<li>Gender</li>
			<li>Fitness Goals</li>
		</ul>
		<p>
			I collect this information solely for the purpose of responding to your inquiries, offering personalized
			fitness guidance, and following up with you when needed.
		</p>

		<Headline variant="xl">How We Use Your Information</Headline>
		<p>The information you provide is used for the following:</p>
		<ul>
			<li>To reply to your questions and requests.</li>
			<li>To offer personalized advice tailored to your fitness experience and goals.</li>
			<li>To follow up with you via email about your fitness journey.</li>
		</ul>
		<p>
			I want to be clear: I will <strong>never</strong> share your information with any third party unless required
			by law.
		</p>

		<Headline variant="xl">Data Storage and Retention</Headline>
		<p>
			Your data is securely stored in my database. I keep your information so that I can refer back to it if you
			reach out again in the future or need further assistance.
		</p>
		<p>
			You can request to have your data deleted at any time. If you'd like to do so, just send me an email at <span
				class="contact-info">contact@elipersonaltrainer.com</span
			>, and I'll take care of it.
		</p>

		<Headline variant="xl">Security</Headline>
		<p>
			I take the security of your personal information very seriously. I use appropriate physical, technical, and
			administrative measures to protect the data I collect online.
		</p>

		<Headline variant="xl">Your Rights</Headline>
		<p>You have the right to:</p>
		<ul>
			<li>Request access to your personal data.</li>
			<li>Request that I correct any inaccurate or incomplete information.</li>
			<li>Request that I delete your personal data at any time.</li>
			<li>Withdraw your consent for me to use your information.</li>
		</ul>
		<p>
			To make any of these requests, or if you have any questions, feel free to reach out to me at <a
				href="mailto:contact@elipersonaltrainer"
				class="contact-info">contact@elipersonaltrainer.com</a
			>.
		</p>

		<Headline variant="xl">Changes to This Policy</Headline>
		<p>
			I may update this privacy policy occasionally to reflect changes in my practices or legal requirements. The
			most recent version will always be available on this page.
		</p>

		<p class="contact-info">Effective Date: 12 September 2024</p>
	</div>
</Layout>

<style>
	p {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	ul {
		padding-left: 1rem;
		list-style: circle;
	}
</style>
