---
import { ViewTransitions } from "astro:transitions";
import Button from "../preact/Button/Button.tsx";
import NavItem from "./NavItem.astro";
---

<header class="sticky top-0 bg-white/90 text-gray-700 z-30">
	<nav class="flex justify-between px-3 sm:px-10 h-[60px] items-center text-md">
		<div class="text-md font-semibold font-proxima-nova-bold text-gray-700">Eli Fitness</div>
		<ul class="flex items-center gap-6">
			<NavItem>
				<a href="https://www.instagram.com/elilungu_/">Follow me</a>
			</NavItem>
			<NavItem>
				<Button href="#plans" color="pink" size="small">Get Started</Button>
			</NavItem>
			<ViewTransitions />
		</ul>
	</nav>
</header>
 ../Button/Button.tsx ../preact/Button/Button.tsx
