---
import Headline from '../../components/Headline/Headline.astro';
import Layout from './Layout.astro';
---

<Layout title="FREE E-Book: Glute Growth Guide" classes={{ body: 'bg-[#dbd9d6]' }}>
	<div class="flex-1 flex flex-col justify-center items-center">
		<div class="px-5 text-[#6A5757] text-center">
			<Headline variant="xxxl" class="mb-5">Thank you</Headline>
			<div class="text-2xl">
				An email will be sent to your address. If you are using Gmail make sure you search on the Updates tab.
				Enjoy your E-Book!
			</div>
		</div>
	</div>
</Layout>
