---
import Headline from '../../components/Headline/Headline.astro';
import Layout from './Layout.astro';
import EBookRequestForm from './preact/EBookRequestForm/EBookRequestForm.tsx';
---

<script>
	import 'altcha';
</script>

<Layout title="FREE E-Book: Glute Growth Guide" classes={{ body: 'bg-[#dbd9d6]' }}>
	<div class="flex-1 flex flex-col gap-5 md:gap-02 items-center py-5 md:py-20">
		<div class="px-5 md:px-10 lg:px-32 text-[#6A5757] text-center">
			<Headline variant="xxxl" class="!font-normal !font-raleway mb-5">
				Download my
				<span class="font-raleway font-bold">Glute Growth Guide</span>
				E-Book
			</Headline>
			<div class="text-xl">
				A complete guide packed with tips, exercises, and routines to help you achieve your ideal glutes 🍑
			</div>
		</div>
		<EBookRequestForm client:only />
	</div>
</Layout>
