---
import Headline from '../../components/Headline/Headline.astro';
import Layout from './Layout.astro';
import EBookRequestForm from './preact/EBookRequestForm/EBookRequestForm.tsx';
---

<script>
	import 'altcha';
</script>

<Layout title="FREE E-Book: Glute Growth Guide" classes={{ body: 'bg-[#dbd9d6]' }}>
	<div class="flex-1 flex flex-col gap-20 items-center">
		<div class="px-20 text-[#6A5757] text-center mt-20">
			<Headline variant="xxxl" class="!font-normal !font-proxima-nova mb-5">
				Download my
				<span class="font-proxima-nova-bold">Glute Growth Guide</span>
				E-Book
			</Headline>
			<div class="text-2xl">
				A complete guide packed with tips, exercises, and routines to help you achieve your ideal glutes 🍑
			</div>
		</div>
		<EBookRequestForm client:only />
	</div>
</Layout>
