---
export interface Props {
	id?: string;
	class?: string;
	inverted?: boolean;
}
const { id, inverted, class: className } = Astro.props;
---

<section
	id={id}
	class:list={[
		"2xl:px-52 py-3 xl:px-36 lg-px-36 md:px-16 sm:px-14 px-3",
		{
			"bg-white text-slate-700": !inverted,
			"bg-black/90 text-white": inverted,
		},
		className,
	]}
>
	<slot />
</section>
