---
import Header from "../components/Header/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Eli Fitness personal trainer for online workouts or in person gym workouts"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preload"
			as="style"
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
			rel="stylesheet"
			type="text/css"
			media="print"
			onload="
			this.onload = null; this.media = 'all'
			"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-auto">
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Inter, sans-serif;
	}

	html,
	body {
		height: 100%;
	}
</style>
