---
import { twMerge } from 'tailwind-merge';
import Header from '../components/Header/Header.astro';
export interface Props {
	title: string;
	classes?: { body?: string };
}

const { title, classes } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Transform your fitness journey with Eli, your dedicated personal trainer! Unlock the power of personalized workout plans tailored just for you. Enjoy detailed exercise explanations, convenient substitutes, goal-specific nutrition advice, and 24/7 support. Elevate your progress with weekly check-ins. Join us on the path to a healthier, stronger you!"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={twMerge('h-auto', classes?.body)}>
		<Header />
		<slot />
	</body>
	<div id="modal-root"></div>
</html>

<script>
	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault();

			//@ts-ignore
			document.querySelector(this.getAttribute('href')).scrollIntoView({
				behavior: 'smooth',
			});
		});
	});
</script>

<style is:global>
	html {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
	}
	button,
	a,
	label {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
	}
	html,
	body {
		height: 100%;
	}

	html {
		overflow: visible !important;
		padding: 0 !important;
	}

	.bg-wrap {
		clip: rect(0, auto, auto, 0);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.bg {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		transform: translateZ(0);
		will-change: transform;
	}

	input[type='text'] {
		border-radius: 0;
		-webkit-appearance: none;
	}
</style>
