---
import Header from "../components/Header/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Transform your fitness journey with Eli, your dedicated personal trainer! Unlock the power of personalized workout plans tailored just for you. Enjoy detailed exercise explanations, convenient substitutes, goal-specific nutrition advice, and 24/7 support. Elevate your progress with weekly check-ins. Join us on the path to a healthier, stronger you!"
		/>
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-auto">
		<Header />
		<slot />
	</body>
	<div id="modal-root"></div>
</html>

<script>
	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

			//@ts-ignore
			document.querySelector(this.getAttribute('href')).scrollIntoView({
				behavior: 'smooth'
			});
		});
	});
</script>

<style is:global>
	@font-face {
		font-family: 'Proxima Nova Light';
		src: url('/fonts/ProximaNova/ProximaNova-Light.eot');
		src: local('Proxima Nova Light'), local('ProximaNova-Light'),
			url('/fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
			url('/fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
			url('/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
			url('/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: fallback;
	}

	@font-face {
		font-family: 'Proxima Nova Bold';
		src: url('/fonts/ProximaNova/ProximaNova-Bold.eot');
		src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
			url('/fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
			url('/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
			url('/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: fallback;
	}

	@font-face {
		font-family: 'Proxima Nova Regular';
		src: url('/fonts/ProximaNova/ProximaNova-Regular.eot');
		src: local('Proxima Nova Regular Italic'), local('ProximaNova-Regular'),
			url('/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
			url('/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
			url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: italic;
		font-display: fallback;
	}

	@font-face {
		font-family: 'Proxima Nova Semibold';
		src: url('/fonts/ProximaNova/ProximaNova-Semibold.eot');
		src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
			url('/fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
			url('/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
			url('/fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: fallback;
	}

	html {
		font-family: 'Proxima Nova Light', sans-serif;
	}
	button, a, label {
		font-family: 'Proxima Nova Regular', sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Proxima Nova Semibold', sans-serif;
	}
	html,
	body {
		height: 100%;
	}

	.parallax {
		@supports (-webkit-overflow-scrolling: touch) {
			background-image: url(@bg-value);
			background-attachment: scroll;
		}
	}

	.bg-wrap {
		clip: rect(0, auto, auto, 0);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.bg {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		transform: translateZ(0);
		will-change: transform;
	}

	input {
		border-radius: 0;
		-webkit-appearance: none;
	}

</style>
